p{
    color: #2d0097;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*reset básico da tela*/
*{
    margin: 0;
    padding: 0;
}



.container {
     max-width: 1000px;
     margin: 0 auto;
     padding: 0x 100px;
}

/*Aplicar estilos do cabeçalho*/
.cabecalho-timao{
    background-color: rgb(150, 150, 150);
    padding: 10px 0px; /*espaçamento entre os elementos*/
    border-bottom: 2px solid #000000;
}

.cabecalho-timao nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.cabecalho-timao h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #000000;
}

.cabecalho-timao a{
    text-decoration: none;/*tira a formatação de link do html*/
    color: inherit;/*tira a cor vermelha de quando clicamos no link*/
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho-timao ul {
    list-style: none; /*tira a "bolinha" de tópico*/
    display: flex; /*transforma a lista num container (espaço) flexivel*/
    gap: 15px; /*adiciona um espaço entre cada item da lista*/
}


/*Estilos de layout principal e conteúdo*/
.conteudo-principal-timao {
    padding: 25px 0; /*ajusta o espaçamento entre cabeçalho e conteúdo*/
}

.layout-timao {
    display: flex; /**vai permitir que a gente consiga colocar uma barra lateral*/
    gap: 70px;
}

.post {
    flex: 3;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(51, 51, 51);
    border-top: 2px solid rgb(185, 185, 185);
}

.post h2{
    font-family: Arial, Helvetica, sans-serif;
}
.post p{
    color: black;
    font-size: smaller
}

.barra-lateral{
    flex:1;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(68, 68, 68);
}
.barra-lateral a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.barra-lateral ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.barra-lateral h3{
    font-family: Arial, Helvetica, sans-serif;
}

.rodape-timao{
    background-color: rgb(150, 150, 150);
    padding: 20px 0;
    color: black;
    text-align: center;
    font-size: small;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
}